.container {
    margin-top: 10px;
}

.tips {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

/* Card Scrolling */
.card {
	--index0: calc(var(--index) - 1); /* 0-based index */
	--reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index */
	--reverse-index0: calc(var(--reverse-index) - 1); /* 0-based reverse index */
}

@keyframes scale {
	to {
		transform:
			scale(calc(1.1 - calc(0.1 * var(--reverse-index))));
	}
}

#cards {
	--numcards: 4;
	view-timeline-name: --cards-element-scrolls-in-body;
}

.card__content {
	--start-range: calc(var(--index0) / var(--numcards) * 100%);
	--end-range: calc((var(--index)) / var(--numcards) * 100%);

	animation: linear scale forwards;
	animation-timeline: --cards-element-scrolls-in-body;
	animation-range: exit-crossing var(--start-range) exit-crossing var(--end-range);
}

.section-title {
    margin-top: 2cap;
}

.card { 
    width: 15em; 
    margin: 5px;
}

:root {
    --dark-grey: #9699a8;
}

body {
    color: #333;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
    margin-top: 20px; margin-bottom: 10px; font-weight: 700;
}

a {
    text-decoration: underline;
}

main {
    z-index: 2; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    padding-left: 8vw; 
    padding-right: 8vw; 
    display: flex;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%; right: 0%;
}

.books {
    border: 1px solid black;
    overflow-x: scroll;
    width: 100%;
    height: 30%;
    display: flex;
}

.book { 
    width: 20%;
    margin: 1%;
}